.wrapper {
    padding: 0;
    /*background: linear-gradient(135deg, #0d7ff1 1%, #0f0f10 100%);*/
    /*background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1602759559659&di=a7cabb1664d956ce8e1d69be12cdf4d9&imgtype=0&src=http%3A%2F%2Fattachments.gfan.com%2Fforum%2F201504%2F02%2F20195964e0xt3081es8syt.jpg) ;*/
    background-image: url(images/78.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    position: relative;
    width: 100%;
}

.frame {
    left: 34%;
    width: 32%;
    background: white;
    height: 450px;
    position: relative;
    top: 30%;
    box-shadow: 10px 10px 5px #224379;
    border-radius: 25px;
    -moz-border-radius: 25px;
}

.frame_change {
    left: 31%;
    width: 38%;
    background: white;
    height: 500px;
    position: relative;
    top: 30%;
    box-shadow: 10px 10px 5px #224379;
    border-radius: 25px;
    -moz-border-radius: 25px;
}

.frame_forget {
    left: 31%;
    width: 38%;
    background: white;
    height: 570px;
    position: relative;
    top: 30%;
    box-shadow: 10px 10px 5px #224379;
    border-radius: 25px;
    -moz-border-radius: 25px;
}
