.combined-wrapper {
    padding: 0;
    /*background: linear-gradient(135deg, #0d7ff1 1%, #0f0f10 100%);*/
    /*background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1602759559659&di=a7cabb1664d956ce8e1d69be12cdf4d9&imgtype=0&src=http%3A%2F%2Fattachments.gfan.com%2Fforum%2F201504%2F02%2F20195964e0xt3081es8syt.jpg) ;*/
    background-image: url(../common/images/dawn.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    height: 100%;
    position: relative;
    width: 100%;
}
.jump {
    position: relative;
    top:580px;
    left: 47%;
    width: 100px;
}
.combined-reload {
    position: absolute;
    bottom: 16px;
    right: 16px;
}
.combined {
    color: #c9cdd5;
    width: 500px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.combined-shape {
    position: relative;
}
.combined-shape > * {
    width: 30%;
    height: 64px;
    position: absolute;
    overflow: hidden;
}
.combined-shape > * > * {
    width: 100%;
    height: 100%;
    background: #8b8c8e;
}
.combined-shape .shape-left {
    left: 0;
}
.combined-shape .shape-right {
    right: 0;
}
.combined .title {
    font-size: 58px;
    letter-spacing: 8px;
    position: absolute;
    width: 530px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.combined-bar {
    width: 100%;
    height: 2px;
    background: #8cddf5;
    position: absolute;
    top: 85px;
}
.combined .content {
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 95px;
}