.ant-form.login-form {
    font-family: "Times New Roman", Times, serif;
    margin: 0 auto;
    padding: 10% 20%;
    text-align: center;
    width: 100%;
    position: relative;
}

/*.combined-wrapper .anime*/
/*{*/
/*    text-align: center;*/
/*}*/
.frame {
    left: 35%;
    width: 30%;
    top: 200px;
    height: 400px;
    vertical-align: middle;
    background: white;
    position: absolute;
    box-shadow: 10px 10px 5px #224379;
    border-radius: 25px;
    -moz-border-radius: 25px;
}

.button {
    width: 100%;
}
