@import '~antd/dist/antd.css';

.ant-btn {
    border-radius: 10px;
}

.sqloj-header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
}

.sqloj-header-button {
    background-color: #001529;
    vertical-align: middle;
    color: white;
}